<% title "Comments" %>

<p>
  <strong>Post:</strong>
  <%=h @comments.post_id %>
</p>
<p>
  <strong>Author Name:</strong>
  <%=h @comments.author_name %>
</p>
<p>
  <strong>Author Email:</strong>
  <%=h @comments.author_email %>
</p>
<p>
  <strong>Author Website:</strong>
  <%=h @comments.author_website %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @comments.content %>
</p>

<p>
  <%= link_to "Edit", edit_comments_path(@comments) %> |
  <%= link_to "Destroy", @comments, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
