$(function() {
	
	var form = $('form#new_comment');
	
	function resetForm() {
		var elements = $('input.text, textarea', form[0]);
		elements.removeClass('error');
		elements.val('');
	}
	
<% if @comment.errors.empty? && @status == "success" %>
	
	// Flash
	var flash = $('<div class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
	form.before(flash);
	$.timer(5000, function (timer) {
		flash.slideUp('fast', function () {
			flash.remove();
		});
		timer.stop();
	});

	// Update count
	$('h2#comment_count').html('<%= escape_javascript(pluralize(@comment.post.approved_comments.count, 'Comment')) %>');

	// Reset form
	resetForm();

	// Update list
	var commentsList = $('ul#comments');
	commentsList.append('<%= escape_javascript(render(:partial => "comments/comment", :locals => { :comment => @comment })) %>');
	commentsList.find('li:last').effect('highlight', {}, 3000);
	
<% elsif @status == 'spam' %>
	
	// Flash
	var flash = $('<div class="flash error"><%= escape_javascript(flash.delete(:error)) %></div>');
	form.before(flash);
	$.timer(5000, function (timer) {
		flash.slideUp('fast', function () {
			flash.remove();
		});
		timer.stop();
	});
	
	// Reset form
	resetForm();
	
<% else %>
	
	// Display errors
	var errors = <%= @comment.errors.to_json -%>;
	$.each(errors, function (i, val) {
		$('#comment_'+val[0]).addClass('error');
	});
	
<% end %>

	form.find('input.submit').removeAttr('disabled');
	form.find('span.loader').removeClass('loading');
});
