<section class="home">
  <h2>Hello</h2>
  <p>I'm a software engineer living in San Francisco. I currently work at <a href="https://usecanvas.com" rel="external nofollow">Canvas</a>. I also co-host a weekly podcast called <a href="http://immutable.fm" rel="external nofollow">Immutable</a> about design and engineering things. I also really enjoy motorcycles and a good burger. If you're curious, find out <a href="/about">more about me</a>.</p>

  <h2>Apps</h2>
  <p>I started developing for iOS the day the SDK was released way back in 2008. Here are some of the best apps I've worked on. I'm no longer involved in the development of several of these since some belong to previous employers.</p>

  <ul class="apps">
    <li>
      <a href="https://itunes.apple.com/app/bible/id282935706?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="Bible">
        <img src="/assets/bible.jpg" alt="Bible">
        <span>Bible</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/hipstamatic/id342115564?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="Hipstamatic">
        <img src="/assets/hipstamatic.jpg" alt="Hipstamatic">
        <span>Hipstamatic</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/incredibooth/id378754705?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="IncrediBooth">
        <img src="/assets/incredibooth.jpg" alt="IncrediBooth">
        <span>IncrediBooth</span>
      </a>
    </li>
    <li>
      <a href="javascript:alert('Shares is no longer available.')" rel="external nofollow" title="Shares">
        <img src="/assets/shares.svg" alt="Shares">
        <span>Shares</span>
      </a>
    </li>
    <li>
      <a href="javascript:alert('I sold Cheddar in 2013. It’s no longer available.')" rel="external nofollow" title="Cheddar">
        <img src="/assets/cheddar.jpg" alt="Cheddar">
        <span>Cheddar</span>
      </a>
    </li>
    <li>
      <a href="javascript:alert('Roon is no longer available.')" rel="external nofollow" title="Roon">
        <img src="/assets/roon.jpg" alt="Roon">
        <span>Roon</span>
      </a>
    </li>
    <li>
      <a href="javascript:alert('Everlapse is no longer available.')" rel="external nofollow" title="Everlapse">
        <img src="/assets/everlapse.jpg" alt="Everlapse">
        <span>Everlapse</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/over/id535811906?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="Over">
        <img src="/assets/over.jpg" alt="Over">
        <span>Over</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/cape-town-love/id704402892?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="Cape Town Love">
        <img src="/assets/capetownlove.jpg" alt="Cape Town Love">
        <span>Cape Town</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/obaby/id738877924?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="Obaby">
        <img src="/assets/obaby.jpg" alt="Obaby">
        <span>Obaby</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/nothingmagical/coins" rel="external nofollow" title="Coins">
        <img src="/assets/coins.svg" alt="Coins">
        <span>Coins</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/litely/id850707754?mt=8&amp;uo=4&amp;at=1l3vmtU" rel="external nofollow" title="Litely">
        <img src="/assets/litely.jpg" alt="Litely">
        <span>Litely</span>
      </a>
    </li>
    <li>
      <a href="javascript:alert('Tiiny is no longer available.')" rel="external nofollow" title="Tiiny">
        <img src="/assets/tiiny.svg" alt="Tiiny">
        <span>Tiiny</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/app/old-sport/id1041222643?mt=8&amp;at=1l3vmtU" rel="external nofollow" title="Old Sport">
        <img src="/assets/old-sport.svg" alt="Old Sport">
        <span>Old Sport</span>
      </a>
    </li>
  </ul>

  <% if @latest_post && @latest_post.length > 0 %>
  <h2>Latest Writing</h2>
  <article>
    <h3><a href="<%= @latest_post['url'] %>"><%= @latest_post['title'] %></a></h3>
    <%= truncate_html @latest_post['excerpt_html'] %>
    <p><a href="<%= @latest_post['url'] %>">Continue Reading &rarr;</a></p>
  </article>
  <% end %>

  <% if @instagram_posts.is_a?(Array) %>
  <div class="instagram four-up">
    <ul>
    <% @instagram_posts.each do |image| %>
      <li>
      <%= image['images']['low_resolution'].inspect %>
        <a href="<%= image['link'] %>" rel="external nofollow" title="<%= image['caption'] ? image['caption']['text'] : nil %>">
          <img src="<%= image['images']['low_resolution']['url'] %>" alt="<%= image['caption'] ? image['caption']['text'] : nil %>">
        </a>
      </li>
    <% end %>
    </ul>
    <p>
      <a href="https://instagram.com/soffes?ref=badge" class="ig-b- ig-b-16"><img src="https://badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram"></a>
      <a href="https://instagram.com/soffes" rel="external nofollow">Follow @soffes</a>
    </p>
  </div>
  <% end %>

  <p class="twitter-button"><a href="https://twitter.com/soffes" rel="external nofollow" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @soffes</a></p>
</section>
