	<div id="header" class="clear">
		<h1><%= link_to 'samsoff.es', home_path %></h1>
		<ul class="clear">
			<li class="blog"><%= link_to 'Blog', home_path %></li>
			<li class="music"><%= link_to 'Music', music_path %></li>
			<li class="about"><%= link_to 'About', about_path %></li>
		</ul>
	</div>
	<% if flash[:notice] %>
	<div class="flash notice"><%= h flash.delete(:notice) %></div>
	<% end %>
	<% if flash[:error] %>
	<div class="flash error"><%= h flash.delete(:error) %></div>
	<% end %>