<%- title "Pure Awesomeness" -%>

<section>
  <div id="home">
    <section>
      <article>
        <header>
          <h2><%= link_to @post.title, @post %></h2>
          <p>Posted <% if @post.published_at %><time datetime="<%= @post.created_at.as_json %>"><%= @post.published_time_in_words %></time><% end %><%= post_tags_html(@post) %></p>
        </header>
        <%= @post.excerpt.gsub('</p>', " #{link_to("Keep reading &raquo;".html_safe, blog_url, :class => "more")}</p>".html_safe) %>
      </article>
    </section>
    <div class="sidebar">
      <h3>Hello</h3>
      <p>My name is Sam. I <a href="http://tastefulworks.com">write software</a> and <%= link_to "make music", music_url %>. This is <%= link_to "my blog", blog_url %>. Enjoy.</p>
    
      <h3>Random Stuff</h3>
      <ul>
        <li><%= link_to "Clearance", clearance_url %></li>
        <li><%= link_to "MobileX Slides", mobilex_url %></li>
      </ul>
    </div>
  </div>
</section>

<%- if @albums && @albums.length > 0 -%>
<div class="albums">
  <div>
    <h3>Albums I've been enjoying this week</h3>
    <ul>
    <%- for album in @albums -%>
      <li>
        <%= link_to("#{album[:name]} by #{album[:artist_name]}", album[:url], :title => "#{album[:name]} by #{album[:artist_name]}", :rel => "external nofollow") %>
        <%- if album[:image_url] -%>
        <%= image_tag(album[:image_url], :alt => album[:name]) %>
        <%- end -%>
      </li>
    <%- end -%>
    </ul>
  </div>
</div>
<%- end -%>
