<%- title "About Sam." -%>

<header>
  <h2><%= link_to 'About Sam.', about_url %></h2>
</header>

<section class="about">
  <a href="http://www.flickr.com/photos/samsoffes/5910043084/in/set-72157627008591241/lightbox/" rel="external nofollow" id="portrait"><img src="http://assets.samsoff.es/images/Sam-Soffes.jpg" alt="Sam Soffes" /></a>
  <p>I am a <%= link_to 'iOS and Rails software engineer', github_url, :rel => 'external nofollow' %>, <%= link_to 'musician', music_url %>, <%= link_to 'wanna be designer', dribbble_url, :rel => 'external nofollow' %>, and burger connoisseur. I live in San Francisco. I previously worked at <a href="http://heysynthetic.com" rel="external nofollow">Synthetic</a> (the makers of <a href="http://hipstamatic.com" rel="external nofollow">Hipstamatic</a>). Now, <em>I'm bootstrapping a company and working on my own products full time</em>.</p>

  <p>I <%= link_to 'make my own music', music_url %> sometimes. I'm also in a band called <a href="http://findingchesterfield.com" rel="external nofollow">Finding Chesterfield</a>. I am always in constant pursuit of tasting the perfect burger. So far, the best one I have ever had was at <a href="http://gowalla.com/spots/63115" rel="external nofollow">The Grape in Dallas, TX</a>. It blew my face off with awesome.</p>

  <p>A few years ago, I wrote this app for the iPhone called <a href="http://www.youversion.com/mobile" rel="external nofollow">Bible</a> that launched day one of the App Store. There are millions of people using it now, so that's pretty cool. I used to own a few companies, freelanced, and worked at some startups. I can tell you all about it if you're curious.</p>

  <p>You can <%= link_to 'download my résumé', resume_url %> if you want. <em>I'm not looking for a full time job, but you can <a href="http://hire.samsoff.es/" rel="external nofollow">hire me</a> for limited work</em>. <%= mail_to 'sam@samsoff.es', 'Email me', :encode => 'hex' %> and say hi too.</p>
  <%= follow_button(size: 'large') %>
</section>
