<%- title "About Sam." -%>

<header>
  <h2><%= link_to 'About Sam.', about_url %></h2>
</header>

<section class="about">
  <img src="http://assets.samsoff.es/images/portrait.jpg" alt="Sam Soffes" id="portrait" />
  <p>I am a <%= link_to 'iOS and Rails software engineer', github_url, :rel => 'external nofollow' %>, <%= link_to 'musician', music_url %>, <%= link_to 'wanna be designer', dribbble_url, :rel => 'external nofollow' %>, and burger connoisseur. I just moved to San Francisco, California in December 2010 to work at <a href="http://scribd.com" rel="external nofollow">Scribd</a> as a software engineer. Read more about that <a href="http://samsoff.es/posts/im-moving-to-san-francisco">here</a>.</p>

  <p>I <%= link_to 'make my own music', music_url %> sometimes. I'm also in a band called <a href="http://findingchesterfield.com" rel="external nofollow">Finding Chesterfield</a>. I am always in constant pursuit of tasting the perfect burger. So far, the best one I have ever had was at <a href="http://gowalla.com/spots/63115" rel="external nofollow">The Grape in Dallas, TX</a>. It blew my face off with awesome.</p>

  <p>Recently some of my work I did for a client was featured in <a href="http://bits.blogs.nytimes.com/2010/11/11/social-books-hopes-to-make-e-reading-communal/" rel="external nofollow">The New York Times</a> and <a href="http://techcrunch.com/2010/11/11/rethink-books-social/" rel="external nofollow">Tech Crunch</a>. A few years ago, I wrote this app for the iPhone called <a href="http://youversion.com/iphone" rel="external nofollow">Bible</a> that launched day one of the App Store. There are well over 8 million people using it now, so that's pretty cool. I used to own a few companies, freelanced, and worked at some startups. I can tell you all about it if you're curious.</p>
  
  <p>You can <%= link_to 'download my résumé', resume_url %> if you want, but <em>I'm not looking for a job right now</em> or accepting any side projects.</p>
  
  <p><%= mail_to 'sam@samsoff.es', 'Email me', :encode => 'hex' %> and say hi. You can <a href="http://twitter.com/samsoffes" rel="external nofollow">follow me on Twitter</a> too if you want.</p>
</section>
