<%- title "Hi, I'm Sam." -%>

<header>
  <h1><%= link_to 'Hi, I\'m Sam.', root_url %></h1>
  <p>I like to <a href="http://github.com/samsoffes" rel="external nofollow">create software</a>, <%= link_to 'make music', music_url %>, and <%= link_to 'write about technology', blog_url %>.</p>
  <p>Find out <%= link_to 'more about me', about_url %>.</p>
</header>

<section class="home">
  <h2><%= link_to 'I like to write about technology', blog_url %></h2>
  <p>Writing about technology is enjoyable. I've written a few tutorials <a href="http://www.google.com/search?q=how+to+sync+itunes+with+dropbox" rel="external nofollow">that Google really likes</a>. Here's a bit from my latest post:</p>
  <article>
    <header>
      <h3><%= link_to @recent_post.title, @recent_post %></h3>
      <p>Posted <time datetime="<%= @recent_post.published_at.as_json %>"><%= post_published_time_in_words @recent_post %></time><%= post_tags_html(@recent_post) %></p>
    </header>
    <%= @recent_post.excerpt %>
    <p class="more"><%= link_to 'Read more &raquo;'.html_safe, blog_url %></p>
  </article>
  
  <h2><a href="http://github.com/samsoffes" rel="external nofollow">I like to create software</a></h2>
  <p>I have a few decently popular open source projects like <a href="http://sstoolk.it" rel="external nofollow">SSToolkit</a>. It's a collection of useful iOS classes I've been working on since the iPhone SDK was announced in 2008. My blog is also <a href="http://github.com/samsoffes/samsoff.es" rel="external nofollow">open source</a>. Check out all of <a href="http://github.com/samsoffes" rel="external nofollow">my open source stuff on GitHub</a>.</p>
  <p>I'm currently <i>not</i> looking for any projects. You can <a href="http://samsoff.es/resume">download my résumé</a> if you want though. <!-- <span class="gray">(If you are a third-party recruiter, please don't contact me.)</span> --></p>

  <h2><%= link_to 'I like to make music', music_url %></h2>
  <div class="music">
    <a href="http://findingchesterfield.com" rel="external nofollow" class="bordered-image fc-art">Finding Chesterfield</a>
    <p>I'm a major perfectionist and not too happy with any of my music. I put some of my music on my site and I'm super embarrassed by all of it. Anyway, some people like it. <%= link_to 'Give it a listen', music_url %>.</p>
    <p>Also, checkout my band, <a href="http://findingchesterfield.com" rel="external nofollow">Finding Chesterfield</a>. We just released an album last year. I am way proud of it. You can <a href="http://itunes.apple.com/us/album/a-three-day-walk-ep/id396382460" rel="external nofollow">buy it on iTunes</a> if you want.</p>
  </div>

  <h2><a href="http://vimeo.com/samsoffes" rel="external nofollow">I like to make movies</a></h2>
  <ul class="movies">
    <li><a href="http://vimeo.com/16875976" rel="external nofollow">Hello Internet: Twitter</a></li>
    <li><a href="http://vimeo.com/20028824" rel="external nofollow">52 Profiles</a></li>
    <li><a href="http://vimeo.com/13116318" rel="external nofollow">The Making of A Three Day Walk EP</a></li>
    <li><a href="http://vimeo.com/16099282" rel="external nofollow">I Am a Snail, and You Are a Pace I Cannot Match (Live)</a></li>
  </ul>
  <p class="more right"><a href="http://vimeo.com/samsoffes" rel="external nofollow">See more &raquo;</a></p>
  
  <h2><a href="http://gowalla.com/samsoffes" rel="external nofollow">I like to enjoy great burgers</a></h2>
  <p>The best burger I have ever eaten was at <a href="http://thegraperestaurant.com" rel="external nofollow">The Grape</a> in <a href="http://maps.google.com/maps?q=The+Grape+in+Dallas,+TX&amphl=en&ll=32.82385,-96.770239&spn=0.051715,0.071497&sll=32.82385,-96.770239&sspn=0.053518,0.071497&z=14" rel="external nofollow">Dallas, TX</a>. It was ridiculous. It literally blew my face off with awesome. Pure, amazing, awesome. Please, pleasure yourself and eat this burger.</p>
  <p><a href="http://maps.google.com/maps?q=The+Grape+in+Dallas,+TX&amphl=en&ll=32.82385,-96.770239&spn=0.051715,0.071497&sll=32.82385,-96.770239&sspn=0.053518,0.071497&z=14" rel="external nofollow" class="grape-map bordered-image">The Grape</a></p>
  <!-- map -->
</section>

<footer>
  <p>Copyright &copy; 2011 <%= link_to 'Sam Soffes', root_url, :rel => 'home' %></p>
</footer>
