<%- title "Hi, I'm Sam." -%>

<header>
  <h1><%= link_to 'Hi, I\'m Sam.', root_url %></h1>
</header>

<section class="home">
  <p class="welcome">I like to <a href="http://github.com/samsoffes" rel="external nofollow">create software</a>, <%= link_to 'make music', music_url %>, <%= link_to 'write about technology', blog_url %>, <a href="http://vimeo.com/samsoffes" rel="external nofollow">make videos</a>, and <a href="http://gowalla.com/samsoffes" rel="external nofollow">enjoy great burgers</a>.</p>
  
  <p class="gray">I currently work at <a href="http://scribd.com" rel="external nofollow">Scribd</a> as a software engineer and am not available for hire.</p>
  
  <nav>
    <ul>
      <li><%= link_to 'Read my blog', blog_url %></li>
      <li><%= link_to 'Listen to my music', music_url %></li>
      <li><%= link_to 'Find out more about me', about_url %></li>
      <li><%= link_to 'See what I\'ve been working on', github_url, :rel => 'external nofollow' %></li>
    </ul>
  </nav>
</section>
