<%= form_for [:admin, @post] do |f| %>
  <%#= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :style => "width:100%;height:250px" %>
  </p>
  <p>
    <%= f.label :tag_names %><br />
    <%= f.text_field :tag_names %>
  </p>
  <p>
    <%= f.label :tweet_text %> <small>limit 105 characters, defaults to title</small><br />
    <%= f.text_field :tweet_text %>
  </p>
  <p>
    <%= f.label :published_at, "Published" %><br />
    <%= f.datetime_select :published_at %>
  </p>
  <p>
    <%= f.check_box :homepageable %> <%= f.label :homepageable %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
