<% title "Posts" %>

<ol>
<% for post in @posts %>
  <li class="post">
    <h2><%= post.title %></h2>
    <p class="meta">posted <%= time_ago_in_words post.published_at %> ago</p>
    <ul class="actions">
      <li><%= link_to "Show", [:admin, post] %></li>
      <li><%= link_to "Edit", edit_admin_post_path(post) %></li>
      <li><%= link_to "Destroy", [:admin, post], :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
  </li>
<% end %>
</ul>

<p><%= link_to "New Post", new_admin_post_path %></p>
