<% title "Posts" %>

<ol>
<% for post in @posts %>
  <li class="post">
    <h2><%= link_to post.title, [:admin, post] %></h2>
    <p class="meta<%= post.unpublished? ? " unpublished" : "" %>">
      posted <%= post.published_time_in_words %>
      <span>
        <%= link_to "Show", [:admin, post] %>
        <%= link_to "Edit", edit_admin_post_path(post) %>
        <%= link_to "Destroy", [:admin, post], :confirm => 'Are you sure?', :method => :delete %>
        <%- if post.published? -%>
        <%= link_to "Published", post %>
        <%- end -%>
      </span>
    </p>
    <%= post.excerpt %>
  </li>
<% end %>
</ul>

<p><%= link_to "New Post", new_admin_post_path %></p>
