<% title "#{@post.title}" %>

<div class="admin">
  <p><%= link_to "New Post", new_admin_post_path %></p>
</div>

<article>
  <header>
    <h2><%= link_to @post.title, [:admin, @post] %></h2>
    <p>Posted <% if @post.published_at %><time datetime="<%= @post.created_at.as_json %>"><%= post_published_time_in_words @post %></time><% end %><%= raw post_tags_html(@post) %></p>
    <p>
      <%= link_to "Show", [:admin, @post], :class => "show" %>
      <%= link_to "Edit", edit_admin_post_path(@post), :class => "edit" %>
      <%= link_to "Destroy", [:admin, @post], :confirm => 'Are you sure?', :method => :delete, :class => "destroy" %>
      <%- if @post.published? -%>
      <%= link_to "Published", @post, :class => "published" %>
      <%- end -%>
    </p>
  </header>
  <%= @post.html_content.html_safe %>
</article>
