<%- title "Tag: #{@tag.name}" -%>

<header>
  <h1><%= link_to "Tag: #{@tag.name}", @tag %></h1>
</header>

<section class="tag">
  <%- if @posts && @posts.length > 0 -%>
  <%= render @posts %>
  <div class="pagination">
      <%= will_paginate @posts %>
  </div>
  <%- else -%>
  <p>Nothing to see here. Move along.</p>
  <%- end -%>
  
  <nav>
    <ul>
      <li><%= link_to 'Read my blog', blog_url %></li>
      <li><%= link_to 'Listen to my music', music_url %></li>
      <li><%= link_to 'Find out more about me', about_url %></li>
      <li><%= link_to 'See what I\'ve been working on', github_url, :rel => 'external nofollow' %></li>
      <li><%= link_to 'Go home', root_url, :rel => 'home' %></li>
    </ul>
  </nav>
</section>
