<article>
  <header>
    <% if post.is_link? %>
    <h3><%= link_to post.title, post.link, rel: 'external nofollow' %> <%= link_to '∞', post, class: 'permalink' %></h3>
    <% else %>
    <h2><%= link_to post.title, post %></h2>
    <% end %>
    <p>Posted on <time datetime="<%= post.published_at.as_json %>"><%= post_published_time post %></time><%= post_tags_html(post) %></p>
  </header>
  <%= post.html_content.html_safe %>
</article>
