<article>
  <header>
    <h2><%= link_to post.title, post %></h2>
    <p>Posted <% if post.published_at %><time datetime="<%= post.published_at.as_json %>"><%= post.published_time_in_words %></time><% end %><%= post_tags_html(post) %></p>
  </header>
  <%= post.to_html %>
</article>
