<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>samsoff.es</title>
    <description>This is my blog</description>
    <link>http://samsoff.es</link>
    <lastBuildDate><%= Time.now.rfc2822 %></lastBuildDate>
    <pubDate><%= Time.now.rfc2822 %></pubDate>

    <%- @posts.each do |post| -%>
    <item>
      <title><%= post.title %></title>
      <description>This is an example of an Item</description>
      <link><%= url_for post %></link>
      <guid isPermaLink="true"><%= url_for post %></guid>
      <pubDate><%= post.published_at.rfc2822 %></pubDate>
    </item>
    <%- end -%>
  </channel>
</rss>
