<%- if @post -%>
<%- title @post.title -%>
<%- content_for(:head) do -%>
<meta name="description" content="<%= post_summary(@post) %>" />
<link rel="canonical" href="<%= post_url(@post) %>" />
<meta property="og:description" content="<%= post_summary(@post) %>" />
<meta property="og:title" content="<%= @post.title %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= post_url(@post) %>" />
<%- end -%>

<section class="blog">
  <%= render @post %>
  <div class="social">
    <%= post_tweet_button(@post) %>
    <%= follow_button %>
  </div>
  <nav class="posts">
    <ul>
      <li class="previous">
        <%- previous_post = @post.previous; if previous_post -%>
        <%= link_to "&larr; #{previous_post.title}".html_safe, previous_post  %>
        <%- else -%>
        <span class="gray">This is my first post</span>
        <%- end -%>
      </li>
      <li class="next">
         <%- next_post = @post.next; if next_post -%>
         <%= link_to "#{next_post.title} &rarr;".html_safe, next_post  %>
         <%- else -%>
         <span class="gray">This is my latest post</span>
         <%- end -%>
      </li>
    </ul>
  </nav>
</section>
<%- else -%>
<%- title 'Post not found' -%>
<p>Nothing to see here. Move along.</p>
<%- end -%>
