<%= render :partial => @post %>

<p>
	<%= link_to 'Edit', edit_post_path(@post) %> | 
	<%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %> | 
	<%= link_to 'See All Posts', posts_path %>
</p>

<div class="comments">
  <h2>Comments</h2>
  <ul id="comments">
    <%= render :partial => @post.comments %>
  </ul>
</div>

<h2>Add A Comment</h2
<% remote_form_for [@post, Comment.new] do |f| %>
  <dl>
  	<dt><%= f.label :name, "Your Name" %></dt>
  	<dd><%= f.text_field :name, :class => "text" %></dd>
  	<dt><%= f.label :email, "Your Email" %></dt>
  	<dd><%= f.text_field :email, :class => "text" %></dd>
  	<dt><%= f.label :website, "Your Website <small>optional</small>" %></dt>
  	<dd><%= f.text_field :website, :class => "text" %></dd>
  </dl>
  <p>	<%= f.text_area :body %></p>
  <p style="font-size:0.8em">Markdown enabled. <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Learn how to write Markdown.</a></p>
	<p><%= f.submit "Post Comment" %></p>
<% end %>
