<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>About - samsoff.es</title>
<%= render :partial => "shared/head" -%>
<%= yield(:head) -%>
</head>
<body>
<div id="wrapper">
	<%= render :partial => "shared/header" %>
	<%= yield %>
</div>
<%= render :partial => "shared/footer" %>
</body>
</html>
