<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>About - samsoff.es</title>
<%= stylesheet_link_tag 'screen' %>
</head>
<body>
<div id="wrapper">
	<div id="header" class="clear">
		<ul class="clear">
			<li class="blog"><%= link_to 'Blog', home_path %></li>
			<li class="music"><%= link_to 'Music', music_path %></li>
			<li class="about"><%= link_to 'About', about_path %></li>
		</ul>
	</div>
  <p style="color: green"><!-- <%= flash[:notice] %> --></p>
	<%= yield %>
</div>
<div id="footer">
	<p>Copyright <%= link_to 'Sam Soffes', home_path %> 2005-2009. <a href="http://github.com/samsoffes/samsoff.es">View source on GitHub</a>.</p>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5609322-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
