<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= "Sam Soffes"+(yield(:title) && !yield(:title).empty? ? " - "+yield(:title) : "") %></title>
  <link href="http://feeds.feedburner.com/samsoffes/blog" rel="alternate" title="samsoff.es" type="application/atom+xml" />
  <link href="http://feeds.feedburner.com/samsoffes/the-experiment" rel="alternate" title="The Experiment Podcast" type="application/atom+xml" />
  <link rel="apple-touch-icon-precomposed" href="<%= image_path("apple-touch-icon.png") %>">
  <link rel="me" href="http://www.google.com/profiles/samsoffes" />
  <%= stylesheet_link_tag "application" %>
  <%- if is_iphone? -%>
  <meta name="viewport" content="width=320, user-scalable=no" />
  <%= stylesheet_link_tag "iphone" %>
  <%- else -%>
  <meta name="viewport" content="width=768, maximum-scale=1.0" />
  <%- end -%>
  <%= javascript_include_tag "application" -%>
  <%= yield(:head) -%>
  <%= google_analytics %>
</head>
<body>
  <%= yield :pre_content %>
  <%= yield %>
  <%= yield :post_content %>
</body>
</html>
