<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= "Sam Soffes"+(yield(:title) && !yield(:title).empty? ? " - "+yield(:title) : "") %></title>
  <link href="http://feeds.feedburner.com/samsoffes/blog" rel="alternate" title="samsoff.es" type="application/atom+xml" />
  <link rel="apple-touch-icon-precomposed" href="http://assets.samsoff.es/images/apple-touch-icon.png">
  <link rel="me" href="http://www.google.com/profiles/samsoffes" />
  <link rel="author" type="text/plain" href="http://samsoff.es/humans.txt" />
  <%= stylesheet_link_tag 'application' %>
  <%- if is_iphone? -%>
  <meta name="viewport" content="width=320, user-scalable=no" />
  <%= stylesheet_link_tag 'iphone' %>
  <%- else -%>
  <meta name="viewport" content="width=768, maximum-scale=1.0" />
  <%- end -%>
  <%= javascript_include_tag 'application' -%>
  <meta property="fb:app_id" content="<%= FACEBOOK_APP_ID %>" />
  <meta property="og:site_name" content="samsoff.es" />
  <%- unless @post -%>
  <link rel="canonical" href="http://samsoff.es/" />
  <meta property="og:description" content="The blog of Sam Soffes" />
  <meta property="og:title" content="samsoff.es" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://samsoff.es/" />
  <%- end -%>
  <%= yield(:head) -%>
</head>
<body>
  <%= yield :pre_content %>
  <%= yield %>
  <%= yield :post_content %>
  <%= gauges '4f455996cb25bc5d88000087' %>
</body>
</html>
