<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Sam Soffes<%=yield(:title) ? " - "+h(yield(:title)) : "" %></title>
    <%= feed_tag "samsoff.es", "http://feeds.feedburner.com/samsoffes/blog" %>
    <%= feed_tag "The Experiment", "http://feeds.feedburner.com/samsoffes/the-experiment" %>
    <%= stylesheet_link_tag 'application' %>
    <%- if iphone? -%>
    <%= stylesheet_link_tag "iphone.css", :media => "only screen and (max-device-width: 480px)" %>
    <meta name="viewport" content="width=320, user-scalable=no" />
    <%- else -%>
    <meta name="viewport" content="width=640" />
    <%- end -%>
    <%= javascript_include_tag "application" -%>
    <%= yield(:head) %>    
  </head>
  <body>
    <div class="wrapper">
      <div id="header" class="clear">
        <h1><%= link_to "Sam Soffes", root_url, :rel => "home" %></h1>
        <h2>Developer, Designer, Musician</h2>
        <ul>
          <li class="blog"><%= link_to "Blog", blog_url %></li>
          <li class="music"><%= link_to "Music", music_url %></li>
          <li class="about"><%= link_to "About", about_url %></li>
        </ul>
      </div>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :class => "flash #{name}" %>
      <%- end -%>
      <%= yield %>
    </div>
    <div id="footer" class="wrapper">
      <p class="clear">
          <span>Copyright <%= link_to "Sam Soffes", root_url, :rel => "home" %> 2005-2009.</span>
          <span><a href="http://github.com/samsoffes/samsoff.es" target="_blank" rel="external nofollow">View source on GitHub</a>.</span>
      </p>
    </div>
    <%- if iphone? -%>
    <%= javascript_include_tag "iphone" -%>
    <%- end -%>
    <%= google_analytics "UA-5609322-1" %>
   </body>
</html>
