<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Sam Soffes<%=yield(:title) ? " - "+h(yield(:title)) : "" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %><link href="<%= blog_feed_url %>" rel="alternate" title="samsoff.es" type="application/atom+xml" />
    <link href="<%= podcast_feed_url %>" rel="alternate" title="The Experiment Podcast" type="application/rss+xml" />
    <meta name="viewport" content="width=320, user-scalable=no" />
  </head>
  <body>
    <div id="border"></div>
    <div class="wrapper">
      <div id="header" class="clear">
        <h1><%= link_to "samsoff.es", root_url, :title => "Sam Soffes", :rel => "home" %></h1>
        <div>
          <ul class="clear">
            <li class="blog"><%= link_to "Blog", blog_url %></li>
            <li class="music"><%= link_to "Music", music_url %></li>
            <li class="about"><%= link_to "About", about_url %></li>
          </ul>
        <%= yield :admin_nav %></div>
      </div>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :class => "flash #{name}" %>
      <%- end -%>
      <%= yield %></div>
    <div id="footer" class="wrapper">
      <p class="clear">
        <span>Copyright <%= link_to "Sam Soffes", root_url, :rel => "home" %> 2005-2009.</span>
        <span><a href="http://github.com/samsoffes/samsoff.es" target="_blank" rel="external nofollow">View source on GitHub</a>. <%#See some <%= link_to "cool stats", stats_url >.%></span>
      </p>
    </div>
    <%= google_analytics "UA-5609322-1" %>
  </body>
</html>
