<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%- if is_iphone? -%>
  <meta name="viewport" content="width=320, user-scalable=no" />
  <%- else -%>
  <meta name="viewport" content="width=740" />
  <%- end -%>
  <title><%= "Sam Soffes"+(yield(:title) && !yield(:title).empty? ? " - "+yield(:title) : "") %></title>
  <link href="http://feeds.feedburner.com/samsoffes/blog" rel="alternate" title="samsoff.es" type="application/atom+xml" />
  <link href="http://feeds.feedburner.com/samsoffes/the-experiment" rel="alternate" title="The Experiment Podcast" type="application/atom+xml" />
  <link rel="me" href="http://www.google.com/profiles/samsoffes" />
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "iphone", :media => "only screen and (max-device-width: 480px)" %>
  <%= yield(:head) %>
  <%= twitter_anywhere(TWITTER_ANYWHERE_API_KEY) %>
  <%= google_analytics(GOOGLE_ANALYTICS_KEY) %>
</head>
<body>
  <header>
    <h1><%= link_to "Sam Soffes", root_url, :rel => "home" %></h1>
    <nav>
      <ul>
        <li class="blog"><%= link_to "Blog", blog_url %></li>
        <li class="music"><%= link_to "Music", music_url %></li>
        <li class="about"><%= link_to "About", about_url %></li>
      </ul>
    </nav>
    <%= yield :admin_nav %>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>
  	<p>&copy 2010 <%= link_to "Sam Soffes", root_url, :rel => "home" %>. <a href="http://github.com/samsoffes/samsoff.es" target="_blank" rel="external nofollow">View source on GitHub</a>.</p>
  </footer>
</body>
</html>
