<%- content_for :pre_content do -%>
<header>
  <h1><%= link_to 'Hi, I\'m Sam.', root_url %></h1>
  <p><span class="cheddar">I make this app called <a href="https://cheddarapp.com" rel="external nofollow">Cheddar</a>.</span> Find out <%= link_to 'more about me', about_url %>.</p>
  <p>I also like to <%= link_to 'make stuff', projects_url %>, <%= link_to 'play music', music_url %>, and <%= link_to 'write on technology', root_url, rel: 'home' %>.</p>
</header>
<section>
<%- end -%>
<%- content_for :post_content do -%>
</section>
<footer>
  <p>Copyright &copy; 2012 <%= link_to 'Sam Soffes', root_url, rel: 'home' %></p>
</footer>
<%- end -%>
<%= render :file => "layouts/abstract" -%>