<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>samsoff.es - Music</title>
<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag :defaults %>
</head>
<body>
<div id="wrapper">
	<div id="header" class="clear">
		<ul class="clear">
			<li><%= link_to 'Blog', home_path %></li>
			<li><%= link_to 'Music', music_path %></li>
			<li><%= link_to 'About', about_path %></li>
		</ul>
	</div>
	<p style="color: green"><%= flash[:notice] %></p>
	<%= yield %>
</div>
<div id="footer">
	<p>Copyright <%= link_to 'Sam Soffes', home_path %> 2005-2009. <a href="http://github.com/samsoffes/samsoff.es/tree/rails">View source on GitHub</a>.</p>
</div>
</body>
</html>
